@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("assets/images/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 200px;
}

.container {
  max-width: 1024px;
  width: 100%;
  height: auto;
  padding: 0 12px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container:hover > .description span {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: changeColor 4s ease infinite;
          animation: changeColor 4s ease infinite;
}
.container:hover .title {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: changeColor 4s ease;
          animation: changeColor 4s ease;
}

@-webkit-keyframes changeColor {
  0% {
    color: #205f8b;
  }
  40% {
    color: #e55d87;
  }
  90% {
    color: #093c61;
  }
  100% {
    color: #205f8b;
  }
}

@keyframes changeColor {
  0% {
    color: #205f8b;
  }
  40% {
    color: #e55d87;
  }
  90% {
    color: #093c61;
  }
  100% {
    color: #205f8b;
  }
}
.title {
  color: #205f8b;
}

.textarea {
  height: 200px;
  max-width: 850px;
  width: 100%;
  padding: 10px;
  border: 2px solid #205f8b;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.textarea:hover {
  border: 2px solid #5fc3e4;
}

.keyboard {
  max-width: 850px;
  width: 100%;
  height: auto;
  padding: 5px;
  border: 2px solid #205f8b;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.keyboard:hover {
  border: 2px solid #5fc3e4;
}
.keyboard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.keyboard .row .key {
  min-height: 50px;
  min-width: 50px;
  border: 1px solid #205f8b;
  border-radius: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.keyboard .row .key:hover {
  background-color: #5fc3e4;
  color: #ffffff;
  border: 1px solid #093c61;
  border-radius: 15px;
}
.keyboard .row .key_active {
  background-color: #5fc3e4;
  color: #ffffff;
  border: 1px solid #093c61;
  border-radius: 15px;
  -webkit-box-shadow: -7px 5px 11px 1px rgba(34, 60, 80, 0.15);
          box-shadow: -7px 5px 11px 1px rgba(34, 60, 80, 0.15);
}
.keyboard .row .key__control {
  background-color: #093c61;
  color: #ffffff;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid #205f8b;
  border-radius: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.keyboard .row .key__control:hover {
  background-color: #5fc3e4;
  color: #ffffff;
  border: 1px solid #093c61;
  border-radius: 15px;
}
.keyboard .row .key__space {
  min-width: 350px;
}

.description {
  color: #205f8b;
  margin-bottom: 10px;
}