$mWid: 1024px;
$cWhite: #ffffff;
$cBlack: #000000;
$fFamily: Arial, Helvetica, sans-serif;
$fSize: 24px;

// $main-max-width: 1280px;
// $main-max-width-tablet: 770px;
// $main-max-width-mobile: 330px;
// $primary-color: hsl(25, 69%, 82%);
// $primary-color-light: hsl(25, 93%, 88%);
// $wt-color: hsl(0, 0%, 100%);
// $light-wt-color: hsl(0, 0%, 98%);
// $light-second-wt-color: hsl(0, 0%, 96%);
// $grey-color: hsl(0, 0%, 80%);
// $dark-color: hsl(0, 0%, 16%); 
// $dark-color-secondary: hsl(0, 0%, 33%); 
// $empty_color: hsla(0, 0%, 0%, 0);
// $primary-font-family: Georgia, 'Times New Roman', Times, serif;
// $secondary-font-family:  Arial, Helvetica, sans-serif;
// $size-text: 17px;
// $weight-text: 400;
// $size-h1: 32px;
// $size-h2: 44px;
// $size-h3: 35px;
// $size-h3-mob: 25px;
// $size-h4: 20px;
// $size-h5: 15px;

// @mixin flexible ($position: center) {
//     display: flex;
//     justify-content: $position;
//     align-items: $position;
//   }